<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-signin-client_id" content="198163314666-ahgnklm2jsm793cvkv0mb70di7brmtnc.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Document</title>
    <link rel="stylesheet" href="/css/signin.css" />
</head>

<body>
    <div class="main">
        <div class="left">
            <img src="/Images/Woman reading-pana.svg" alt="">
            <p>
                Sign In now <br />
                to start Swapping your Books <br />
                just in one click
            </p>
        </div>
        <div class="right">
            <nav>
                <h1>BOOK <span>IT</span></h1>
                <button><a id="navbtn" href="/register">Sign Up</a></button>
            </nav>
            <div class="head">
                <h5>SIGN IN NOW</h5>
                <h1>TO EXPLORE SOMETHING AMAZING</h1>
            </div>
            <div>
                <input type="email" placeholder="Email" name='email' id="email" />
                <input type="password" placeholder="password" name="password" id="password" />
                <button id="loginBtn"><a href="">Sign In</a></button>
                <button id="gs" class="g-signin2" data-onsuccess="onSignIn">Sign In with Google</button>
                <p id="al">
                    Don't have an account ? <a href="/register">SIGNUP</a>
                </p>
                <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
            </div>
        </div>
    </div>
</body>
<script>
    
</script>
<script src="/js/login.js"></script>

</html>