<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/all.min.css" />
</head>

<body>
    <div class="main">
        <div class="left">
            <nav>
                <h1>BOOK <span>IT</span></h1>
                <button><a id="navbtn" href="/login">Sign In</a></button>
            </nav>
            <div class="head">
                <h5>START FOR FREE</h5>
                <h1>Create an acccount</h1>
            </div>
            <form id="myform">
                <input type="text" placeholder="Username" name="name" />
                <input type="email" placeholder="email" name="email" />
                <input type="password" placeholder="password" name="password" />
                <button id="formButton">Sign Up</button>
                <button id="gs">Sign up with Google</button>
                <p id="al">
                    Already have an account ? <a href="/login">SIGNIN</a>
                </p>
            </form>
        </div>
        <div class="right">
            <img src="/images/Bibliophile-pana.svg" alt="" />
            <p>
                Swap your books <br />
                according to your interest <br />
                just in one click
            </p>
        </div>
    </div>
</body>
<script src="/js/register.js"></script>

</html>