*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: montserrat;
    background-color:#a8a8c5;
}
nav{
    background: #d4c8ee;
    height: 80px;
    width: 100%;
}
label.logo{
    color: #2727b2;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}
nav ul{
    float:right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #2727b2;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active, a:hover{
    background: #8282ff; 
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none !important;

}
#check{
    display: none;
}
@media(max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #6665fe;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
    }
    a:hover,a.active{
        background: #8282ff;
        color: white;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

.main-carousel{
    width:100%;
    height: 280px;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    margin: 0 15px;
}

.books{
    display: flex;
    width: auto;
    justify-content: space-around;
}

.books img{
    border: 4px solid white;
}

.myslider{
    height: 30vw;
    width: 100%;
    margin-top: 17%;
    margin-left: 50%;
    margin-bottom: -13%;
    transform: translate(-50%,-50%);
    background-image: url(/images/BOOKIT.png);
    background-size: 100% 100%;
    animation: slider 12s infinite running;
}

@keyframes slider {
    0%{
        background-image: url(/images/BOOK_IT.jpg);
    }
    35%{
        background-image: url(/images/BOOKIT1.png);
    }
    75%{
        background-image: url(/images/BOOKIT.png);
    }
    100%{
        background-image: url(/images/BOOK_IT.jpg);
    }
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from {opacity: 0.8}
    to {opacity: 1;}
}

@keyframes fade{
    from {opacity: 0.8;}
    to{opacity: 1}
}

@media screen and (max-width: 800px){
    .myslider{
        height: 200px;
    }
    .dotsbox{
        top: 62%;
    }
    .prev, .next{
        top: 30%;
    }

}
.books-display{
    display: flex;
    margin-top: 550px;
    margin-bottom: 100px;
    width: auto;
    justify-content: space-around;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: #6665fe;
    padding-top: 20px;
    padding-bottom: 15px;
}
h2 {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
}
.fa-2x{
    color: #fff;
    margin-right: 10px;
}
/* ----Upload Page CSS----- */
.file-upload{
    position: relative;
    border: 4px dashed #6665fe;
    background-color: #d4c8ee;
    padding-left: 44%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.book-intro{
    display: flex;
    margin-left: 15%;
}
.book-info{
    margin-left:23px;
}
.preview{
    padding: 1% 15%;
}
#read{
    padding: 20px;
    font-size: 20px;
    color: #fff;
    border-color: #6665fe ;
    background-color:#d4c8ee;
    cursor: pointer;
}
#read:hover{
    background-color: #b896ff ;
}
@keyframes scroll{
    0%{
        transform: translate(calc(250px*4));
    }
    100%{
        transform: translate(calc(-250px*4));
    } 
}
.book-slider{
    height: auto;
    overflow: hidden;
    /* width: max-content; */
}
.slide-track{
    animation: scroll 20s linear infinite;
    display: flex;
    /* justify-content: space-evenly; */
    width: calc(250px * 20);
    overflow: hidden;
}
.slide-track:hover{
        animation-play-state: paused;
}
.slide{
    height: 280px;
    width: 250px;
}
@media only screen and (max-width: 640px) {
    .slide{
        width: 100%;
    }
    .myslider{
        width: 100%;
        margin-top: 17%;
        margin-left: 50%;
        margin-bottom: -13%;
    }
}  
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }
  
  